@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap');
*{
  color: red;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}


nav{
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #cafdff;
}

h1{
  font-size: 72px;
}

.subheader{
  font-size: 36px;
  font-weight: 500;
  color: #000;
  margin: 16px 0 24px 0
}

button{
  background-color:  #05c7cf;
  color:white;
  border: none;
  border-radius: 24px;
  padding: 8px 16px;
  font-size: 24px;
  cursor: pointer;
}


a{
  color: #000; 
  font-size: 24px;
  font-weight: 700;
  
}
  

.logo{
  width: 300px;
}



ul{
  display: flex;
}




li{
  list-style-type: none;
  padding-left: 16px;
}

header{
  background-color: #eadcff;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#about, #discord, #contact, #footer{
  padding: 48px 0;
}

.row{width: 100%;
  max-width: 1300px;
  display: flex; 
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}


.figure{ justify-content: flex-start;
  flex-direction: row;
  background-color: aquamarine;
}

/*

About

*/

#about #discord #contact{
  padding: 48px 0;
}
  
section{
  background-color: #f8ffdc
}

h2{
  font-size: 60px;
  text-align: center;
  margin-bottom: 24px;
}
.section__description{
display: flex; 
justify-content: center;
align-items: center; }

.about__image--wrapper,
  .section__description--wrapper{
    padding: 0 24px;
  }
  .section__description--paragraph{
    font-size: 20px;
    line-height: 1.5;
   margin-bottom: 24px;
  }
    

  image{
  width: 100%;}



  /*

Discord

*/
  #discord{
    padding: 48px 0;
    background-color: #e6f2ff;
  }
  
  .section__description{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  /*

contact

*/
#contact{
  background-color: #dce9ff; 
justify-items: center;
align-content: center;
}

form{
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0; 

  
}

input, textarea{
  margin-bottom: 24px;
  font-size: 20px;
  padding: 6px 12px;
  justify-content: center;


}

p{
  font-size: 22px;
  margin-bottom: 8px;

}

/*

Footer

*/

footer{
  background-color: #aaf5ff;
 display: flex;
 flex-direction: column;
  align-items: center;
}

.footer__logo{
  max-width: 400px;
  display: flex;
align-items: flex-end;
margin-bottom: 16px;

}

.foot__link{
  margin-bottom: 32px;
  padding: 0 16px;
}

.footer__link {
width: auto;
}

@media (max-width: 728px) {
  }


  .row {
    flex-direction: column;
    
  }
  .home__description {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1{
    text-align: center;
    font-size: 28px;
  } 
  
  .subheader{
    text-align: center;
    font-size: 28px;
  }
  
  
  .home__description--button {
       max-width: 240px;
    
     }
ul{ display: none;

}

.section__description{
  flex-direction: column;
  width: 100%;

}
.about__image--wrapper{
  width: 100%;
}

#discord .section__description {
  flex-direction: column-reverse;
}

footer{
  padding: 40px 24px;
}

.footer__logo{
  max-width: 360px;

}

.footer__link{
  padding: 8px 4px;
  font-size: 18px;
}