@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{ 
color:rgba(6, 6, 6, 0.756);
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
} 
.nav {
    height: 80px;
    display: flex;
    
}

image{
    width: 100%;
    height: 100%;
    max-height: 50vh;

    
    
    
}


 
.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    justify-items: flex-end;
}

.red{
    color: rgb(255, 47, 95);
}

.logo{
    width: 195px;
    
}

.ul{
    display: flex;
    
}
.li{
    list-style: none;
    display: flex;
}
    






.nav_links{
    width: 30%;
    font-size: 20px;
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    
    
    
    
    
    
}

.nav_link {
    
    color:rgb(255, 47, 95);
    font-weight: bold;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    
    
}


.nav_link--primary {
    border: 2px solid rgb(255, 47, 95);
    border-radius: 4px;
    padding: 8px 16px;
    color:rgb(255, 47, 95);
    font-weight: bold;
    
}


.nav_link:hover {
   text-decoration: underline;}
   
   
   .nav_link--primary:hover {
    text-decoration: none;
}

#landing{
    background-color:rgba(68, 255, 47, 0.473); 
}

header{
    height: calc(100vh - 80px);
}


.header__container{
    width: 120%;
    max-width: 775px;
    margin: 0 auto;
    height: 120%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    
    
    
    
}

@media (max-width: 380px) {}
.nav_link:not(:last-child) {
        display: none;
    }
    
.header__description{ 
    width: 10%;
    max-width: 1200px;
    max-width: 1200%;  
    height: auto;      
    display: block;
}  

h1{
    font-size: 56px;
    color:rgba(163, 7, 248, 0.756);
    margin-bottom: 24px;
    text-align: center;
    
}

h2{   
    font-size: 32px;
    margin-bottom: 32px;   
    text-align:  center;
    color:rgba(6, 6, 6, 0.756);
}

.header__subtitle{
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 16px;
    font-weight: 400;
    color:rgba(6, 6, 6, 0.756);
    
}

.header_description{
    display: flex;
    flex-direction: column; 
    align-items: center
    
    }
    
    .header__button{
        font-size: 22px;
        text-decoration: none;
    border: 16px;
    padding: 8px 16px;
    border-radius: 100%;
    border: #ff2f5f solid 2px;
    width: 170px;
    border-radius: 4px;
    display: flex;
    
    
}
.header__title{
    font-size: 40px;
}




.button:active {
 transform: translateY(1px);
}

.button{
    color:#ff2f5f;
    text-decoration: none;
    cursor: pointer;
    
    
    
    
    
}




.btn{
    background-color: #ff2f5f;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}


.header__img--wrapper{
    padding: 20px;
   
}
.container {
    padding: 56px 0;

    
}

    

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    
}

/*
highlights
*/
 
.highlight__wrapper{
    display: flex;

}
.highlight{
    padding: 0 24px;
    width: calc(100% / 3);

}
.highlight__img{
    margin: 0 auto;
}

.highlight__container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 132px 80px;
}