@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
color:rgba(6, 6, 6, 0.756);
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;}

.body {
    max-width: 100vw;
    overflow-x: hidden;
}
.nav {
    height: 80px;
    display: flex;
    
}

.img{
    width: 100%;
    height: auto;
    display: block;
    
    

    
    
    
}

.p{
    line-height: 1.5;
}


 
.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    justify-items: flex-end;
}

.red{
    color: rgb(255, 47, 95);
}

.logo{
    width: 195px;
    
}

.ul{
    display: flex;
    
}
.li{
    list-style: none;
    display: flex;
}
    






.nav_links{
    width: 30%;
    font-size: 20px;
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    
    
    
    
    
    
}

.nav_link {
    
    color:rgb(255, 47, 95);
    font-weight: bold;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    
    
}


.nav_link--primary {
    border: 2px solid rgb(255, 47, 95);
    border-radius: 4px;
    padding: 8px 16px;
    color:rgb(255, 47, 95);
    font-weight: bold;
    
}


.nav_link:hover {
   text-decoration: underline;}
   
   
   .nav_link--primary:hover {
    text-decoration: none;
}

#landing{
    background-color:rgba(68, 255, 47, 0.473); 
}

header{
    height: calc(100vh - 80px);
}


.header__container{
    width: 120%;
    max-width: 775px;
    margin: 0 auto;
    height: 120%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    
    
    
    
}

@media (max-width: 800px) {}
.nav_link:not(:last-child) {
        display: none;
    }
    
.header__description{ 
    width: 10%;
    max-width: 1200px;
    max-width: 1200%;  
    height: auto;      
    display: block;
}  

h1{
    font-size: 56px;
    color:rgba(163, 7, 248, 0.756);
    margin-bottom: 24px;
    text-align: center;
    
}

h2{   
    font-size: 32px;
    margin-top: 48px;
    margin-bottom: 48px;   
    text-align:  center;
    color:rgba(6, 6, 6, 0.756);
}

.header__subtitle{
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 16px;
    font-weight: 400;
    color:rgba(6, 6, 6, 0.756);
    
}

.header_description{
    display: flex;
    flex-direction: column; 
    align-items: center
    
    }
    
    .header__button{
        font-size: 22px;
        text-decoration: none;
    border: 16px;
    padding: 8px 16px;
    border-radius: 100%;
    border: #ff2f5f solid 2px;
    width: 170px;
    border-radius: 4px;
    display: flex;
    
    
}
.header__title{
    font-size: 40px;
}




.button:active {
 transform: translateY(1px);
}

.button{
    color:#ff2f5f;
    text-decoration: none;
    cursor: pointer;
    
    
    
    
    
}




.btn{
    background-color: #ff2f5f;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}
.header__container{
    padding: 0 48px;
}


.header__img--wrapper img{
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
   
}
.container {
    padding: 56px 0;
    border: 8px;
    width: 100%;
    max-width: 100vw;
    margin: 0 auto;

    

    
}
@media (max-width: 700px) {}
    .header__img--wrapper img .highlight__container{
        width: 100%;
        height: auto;
}


    h1 {
        font-size: 32px;
    }
    h2 {
        font-size: 24px;
    }
    .header__subtitle {
        font-size: 16px;
    }
    .header__button {
        font-size: 18px;
        padding: 6px 12px;
        width: 140px;
    }


    

.row{
    justify-content: space-between;


}

.highlights{
    position: relative;
    max-width: 100vw;
}

.hightlight::before { 
    background: url("/Flex/Portfolio/Assets/Assests2/assets/wave.svg");
    content:"";
    position: absolute;
    width: 101vw;
    height: 12vw;
    top: 1px;
    left: 0;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(-100%);


}
    

    


/*
highlights
*/

.higntlight::after{
    background: url("/Flex/Portfolio/Assets/Assests2/assets/wave.svg");
    content:"";
    position: relative;
    width: 100%;
    height: 12vw;
    bottom:  1px;
    left: 0;
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
    transform: translateY(100%) rotate(180deg);
}
 
.highlight__wrapper{
    display: flex

}
.highlight{
    padding: 0 24px;
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    

}


.highlight__img i{
    border: 2px solid #070204;
    color:  #ff2f5f;
    width: 100px;
    height: 100px;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 4px;
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 24px;
    

    
}

.highlight__subtitle{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 20px;
    color:rgba(6, 6, 6, 0.756);
    
    
}
.highlight__para{
    max-width: 280px;
    margin-top: 8px; 
    font-size: 16px; 
    color:rgba(6, 6, 6, 0.756);}

.highlight__container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 132px 80px;
    
    
}

#features{
    padding-top: 8vw;
    background-color: rgba(255, 47, 95, 0.1);
    
}

.book__price--normal{
    text-decoration: line-through;
    color: gray;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    
}

.book {
    display: flex;
    flex-direction: row;
    align-items:end;
    justify-content:space-around;
}

.books{
    justify-content: flex-end;
}
    
    
    

    

    
.book_title{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: baseline;
    padding-left: 24px;
   
    
}
.book_ratings{
    display: flex;
    flex-direction: row;
    align-content: end;
    
    
}

.book_img{
    display: flex;
    justify-content: center;
    height: 420px;
    width: px;
    max-width: 840px;
    padding: 24px ;

}

.book__price{
    text-align: center;
    padding-bottom: 24px 16px;

    
}

.books{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.book_container{
    justify-content: end;
}

.book_row{
    
 justify-content: space-between;
}